.page--activity{
  .activity-heading{
    background:url(../img/activity/bg_main.png) no-repeat center center;
    background-size:cover;
    padding:80px 0;
    margin:30px 0;
    .hd-row{
      display:flex;
      align-items:center;
      .hd-logo{
        width:37%;
        padding: 0 7.8%;
      }
      .hd-value{
        width:63%;
        .hd-title{
          @include fsize(24);
          @include fbold;
          padding:0;
          &:before,
          &:after{
            display:none;
          }
        }
        .hd-text{
          @include fsize(16);
          line-height:2;
          margin-bottom:1em;
        }
      }
    }
  }

  .activity-section{
    padding:50px 0;
    .activity-h2{
      color:#891c23;
      text-align:center;
      @include fsize(38);
      @include fbold;
      &:before,
      &:after{
        display:none;
      }
      span{
        position:relative;
        display:inline-block;
        &:before{
          display:block;
          content:"";
          width:100%;
          height:4px;
          background:#891c23;
          position:absolute;
          left:0;
          bottom:-4px;
        }
      }
    }
    .activity-heading-text{
      text-align:center;
      @include fsize(18);
    }
  }

  .activity-box{
    background:white;
    margin:30px auto;
    padding:50px;
    .activity-row{
      display:flex;
      align-items:center;
      justify-content:space-between;
      .activity-icon{
        width:230px;
        .act-icon{
          width:100px;
          margin:0 auto;
        }
        .act-cap{
          @include fsize(24);
          @include fbold;
          text-align:center;
          color:#891c23;
        }
      }
      .activity-sp-title{
        display:none;
      }
      .activity-value{
        width:calc(100% - 250px);
        .act-text{
          @include fsize(16);
          line-height:2;
          margin-top:20px;
          > a{
            display:inline-block;
            padding:0 15px 0 0;
            background:url(../img/icon/exlink.svg) no-repeat right center;
            background-size:13px auto;
          }
        }
      }
    }
  }

@include contentSP{
  .activity-heading{
    padding:20px 0;
    margin:20px 0;
    .hd-row{
      display:block;
      margin:0;
      .hd-logo{
        width:100%;
        padding: 0 20%;
      }
      .hd-value{
        width:100%;
        margin-top:20px;
        .hd-title{
          @include fsize(22);
        }
        .hd-text{
          @include fsize(13);
        }
      }
    }
  }

  .activity-section{
    padding:20px 0;
    .activity-h2{
      color:#891c23;
      @include fsize(22);
      span{
        &:before{
          height:2px;
          bottom:-2px;
        }
      }
    }
    .activity-heading-text{
      @include fsize(13);
    }
  }

  .activity-box{
    margin:20px auto;
    padding:20px;
    .activity-row{
      display:block;
      .activity-icon{
        width:100%;
        margin:0 auto;
        .act-icon{
          width:60px;
        }
        .act-cap{
          @include fsize(16);
        }
      }
      .activity-value{
        width:100%;
        .act-text{
          @include fsize(13);
          line-height:1.7;
          margin-top:10px;
        }
      }
    }
  }
}
}