<footer>
  <div id="footer">
    <div class="container">
      <p class="old"><a href="archive.html">Old Archives</a></p>
      <p class="copy">&copy;Japan Cartographers Association.</p>
    </div>
  </div>
</footer>