#footer{
  padding:50px 0;
  text-align:center;
  @include fsize(16);
  p{
    margin:0;
  }
  .old{
    a{
    }
  }
  .copy{
    .ccby4{
      display:inline-block;
      width:61px;
      margin-left:10px;
    }
  }
@include contentSP{
  @include fsize(12);
}
}