#header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  background:white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  .hd-nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    .hd-nav-main{
      display:flex;
      align-items:center;
      .hd-nav-logo{
        width:240px;
        padding:11px 0 19px;
      }
      .hd-nav-toggle{
        display:none;
        background-color: transparent;
        background-image: none;
        border: 0;
        .icon-bar{
          display: block;
          background-color: rgba(0,0,0,.5);
          width: 26px;
          height: 2px;
          border-radius: 1px;
          &+.icon-bar{
            margin-top: 6px;
          }
          &:first-child{
            transform:rotate(45deg) translate(5px,6px);
          }
          &:nth-child(2){
            visibility: hidden;
          }
          &:last-child{
            transform:rotate(-45deg) translate(6px,-7px);
          }
        }
        &.collapsed{
          .icon-bar{
            transform:rotate(0deg);
            &:nth-child(2){
              visibility: visible;
            }
          }
        }
      }
    }
    .hd-nav-collapse{
      .hd-nav-inner{
        display:flex;
      }
      .site-navigation{
        list-style:none;
        padding:0;
        margin:0;
        display:flex;
        align-items:center;
        justify-content:flex-end;
        li{
          @include fsize(18);
          @include fbold;
          padding:0 25px;
          a{
            color:inherit;
            &:hover{
              color:#891c23;
              text-decoration:none;
            }
          }
        }
      }
      .site-language{
        list-style:none;
        padding:0;
        margin:0 40px;
        display:flex;
        align-items:center;
        li{
          @include fsize(18);
          padding:0 10px;
          position:relative;
          &:after{
            content:"";
            display:block;
            width:1px;
            height:100%;
            background:#d9d9d9;
            position:absolute;
            top:0;
            right:0;
          }
          &:last-child{
            &:after{
              display:none;
            }
          }
          .lang{
            color:inherit;
            &:hover{
              color:#891c23;
              text-decoration:none;
            }
            &.active{
              color:#891c23;
            }
          }
        }
      }
      .site-sns{
        list-style:none;
        padding:0;
        margin:0;
        display:flex;
        align-items:center;
        li{
          width:50px;
          padding:0 7px;
          .sns{
            display:block;
            &:hover{
              opacity:.8;
            }
          }
          &.separate{
            margin:0 7px;
            padding:0;
            width:1px;
            height:100%;
            background:#d9d9d9;
          }
        }
      }
    }
  }

@media (max-width:map-get($grid-breakpoints, 'xl')){
  .hd-nav{
    .hd-nav-main{
      .hd-nav-logo{
        width:200px;
        padding:14px 0 23px;
      }
    }
    .hd-nav-collapse{
      .site-navigation{
        li{
          @include fsize(14);
          padding:0 10px;
        }
      }
      .site-language{
        margin:0 20px;
        li{
          @include fsize(14);
          padding:0 10px;
        }
      }
      .site-sns{
        li{
          width:36px;
          padding:0 5px;
          &.separate{
            margin:0 5px;
          }
        }
      }
    }
  }
}

@media (max-width:map-get($grid-breakpoints, 'lg')){
  .hd-nav{
    .hd-nav-main{
      .hd-nav-logo{
        width:150px;
        padding:20px 0 28px;
      }
    }
    .hd-nav-collapse{
      .site-navigation{
        li{
          @include fsize(12);
          padding:0 7px;
        }
      }
      .site-language{
        margin:0 10px;
        li{
          @include fsize(12);
          padding:0 5px;
        }
      }
      .site-sns{
        li{
          width:30px;
          padding:0 3px;
          &.separate{
            margin:0 3px;
          }
        }
      }
    }
  }
}

@include contentSP{
  .hd-nav{
    display:block;
    margin:0 -15px;
    .hd-nav-main{
      width:100%;
      justify-content:space-between;
      .hd-nav-logo{
        width:174px;
        padding:10px 5px;
      }
      .hd-nav-toggle{
        display:block;
      }
    }
    .hd-nav-collapse{
      .hd-nav-inner{
        display:block;
      }
      .site-navigation{
        display:block;
        padding:0 15px;
        li{
          @include fsize(16);
          @include fbold;
          padding:0;
          border-bottom:1px solid #e5e5e5;
          &:first-child{
            border-top:1px solid #e5e5e5;
          }
          > a{
            display:block;
            text-align:center;
            padding:20px 0;
          }
        }
      }
      .site-language{
        justify-content:center;
        margin:30px auto;
        li{
          @include fsize(15);
          padding:0 10px;
        }
      }
      .site-sns{
        justify-content:center;
        padding-bottom:30px;
        li{
          width:50px;
          padding:0 7px;
          .sns{
            display:block;
            &:hover{
              opacity:.8;
            }
          }
          &.separate{
            margin:0 7px;
            padding:0;
            width:1px;
            height:50px;
            background:#d9d9d9;
          }
        }
      }
    }
  }
}
@include contentPC{
  .hd-nav{
    .hd-nav-collapse{
      display:block;
    }
  }
}
}